@import https://fonts.googleapis.com/earlyaccess/sawarabimincho.css

html, body
  height: 100%
  width: 100%
  margin: 0

#app
  display: flex
  height: 100%

textarea, #preview
  flex: 1 1 0
  overflow-y: scroll

textarea
  padding: 1em
  font-size: 12px
  background-color: #eee
  line-height: 1.5em
  font-family: 'Hack', courier, monospace
  border: 0

#preview
  padding: 1em
  *
    margin: 0
    padding: 0
    line-height: 1.7em
  h1
    font-size: 1.5rem
    border-bottom: .5px solid #000
    margin-bottom: 1rem
  h2
    font-size: 1.3rem
    border-bottom: .3px solid #000
  h3
    font-size: 1.1rem
  h4
    font-size: 1rem
  h2,
  h3,
  h4
    margin-top: 2.5rem
    margin-bottom: 1rem
    line-height: 1.3em
  ul
    padding-left: 1.3rem
  p,
  li
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif
    font-weight: 200
  a
    text-decoration: none
    color: #111

.hljs
  all: unset

pre
  padding: 15px
  background-color: #282c34
  color: #EEE
  margin-right: 10px

@media print
  textarea
    display: none
  #preview
    overflow-y: visible
